:root {
  font-size: 14px;
}

body {
  background-color: rgb(216, 216, 216);
  line-height: 1.5;
  margin: 10px auto;
  max-width: 1200px;
}

main {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5in;
  width: 8.5in;
  height: 11in;
  background-color: white;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  font-family: 'Times New Roman', Times, serif;
  color: hsl(0, 0%, 20%);
}

main > header {
    display: flex;
    justify-content: center;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  flex: 3;
}

img {
  max-width: 100%;
}

.B {
  
  display: flex;
}

.C {
  
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80px; /*à redimensionner selon les besoins*/
}

.D {
  flex: 1;
}

.D h3 {
  margin: 0;
}

article header {
  border-bottom: 2px solid black;
  margin: 0px 0px 0px 10px;
}

article h2, h3, p{
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

.E {
  margin-left: 10px;
}

.AA {
  display: flex;
}

.hobbies {
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}